%br
%br
%br

#thank_you
  .row 
    .span8
      %h1 Thank You Very Much!
      %h2 We have received your Pre-Order and will notify you as soon as our next round of Kliks are out for sale.
      %br
      %h3 With Best Wishes, 
      = image_tag("alexis.png")
      %h3 Alexis & JD

%br
%br
%br

