%br
%br
%br

  .row 
    .span3
      &nbsp;
    #thank_you.span10
      %h1 Thank You Very Much!
      %h2 
        We will notify you 
        as soon as 
        != klik_logotype(true)
        are available.
      %br
      %h3 With best wishes and have a great day,
      %h3 Alexis & JD

    .span3
      &nbsp;

%br
%br
%br

