%br
%br
%br

  .row 
    .span3
      &nbsp;
    #thank_you.span9
      %h1 Thank You Very Much!
      %h2 
        We have received your Pre-Order and will notify you as soon as our next round of 
        != klik_logotype(true)
        are out for sale.
      %br
      %h3 With Best Wishes, 
      = image_tag("alexis.png")
      %h3 Alexis & JD

    .span3
      &nbsp;

%br
%br
%br

