#information
  .container
    .row
    .span8
      %h1 About Klik
      %p
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit tellus ut lacus posuere sagittis sit amet a sem. Morbi quis neque nec ligula porttitor mollis ac et lectus. Praesent eu purus lorem, ut euismod libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas quam justo, placerat sit amet venenatis elementum, venenatis vitae erat. Nullam sit amet est a dui sagittis iaculis quis vitae felis. Praesent faucibus, nisi nec vulputate egestas, ligula est euismod lectus, at tempus mi quam ac nunc. Aliquam sit amet ante vel massa auctor pulvinar. Sed diam urna, faucibus non vulputate at, tincidunt non ipsum. Donec rhoncus, arcu id ultricies ultricies, lectus sapien porttitor odio, vitae posuere neque odio eget mauris. Duis ornare dolor vehicula nunc commodo cursus quis at dolor.

