#hero
  .container
    %br
    %br
    .row 
      .span8
        %h1
          Make Your 
          %br
          Work Flow.
        %h2
        %h2
          Clearly signal to those around you when you are 
          %span.green available to talk
          and when you are
          %span.orange in your zone.

      .span8

#information
  %br
  %br
  .container
    .row
      .span8

        #slideshow
          .row
            - (1..10).each do |i|
              .span2
                = link_to(image_tag("slideshow/#{i}_90.jpg"), "/assets/slideshow/#{i}_800.jpg", :class => 'slideshow', :rel => 'slideshow')
                %br
                %br
          :javascript
            $("a.slideshow").fancybox({cyclic: true});


        %p{:style => "font-size: 1.8em; line-height: 1.4em; font-weight: normal;"}
          TBD: Story /
          Painpoint: Being interrupted while in the zone. Expensive in terms of concentration and productivity!
          Working together is great, except when you need to work on your own.
          Working in an office, coworking space or coffee shop 
          can be difficult 
          %span.highlight
            when you really need to concentrate.
          Situation (working concentratedly & Getting interrupted, pulled out of your zone & necessary communication for next steps)
          Setting (
          %span.highlight office, coworking space, coffee shop, conference
          Solution (That's where Kliks come in, help send clear signals. Opt-in to communication with green, opt-out with orange. Network effect with your team, easy to explain, simple to use)
 
          works in teams, non-verbal communication, create a zone around you, visible across the room, send a clear signal, 
          Magnetic, easily attached, simple change of status, no danger to computers, 
          top of your laptop, desk lamp, cubicle wall frame or anywhere it works for you.

        %br

        .row
          .span4
            %h3 Team Players
            %p
              Help your team to 
              communicate clearly 
              and 
              avoid being interrupted 
              at your times of productivity. It's simple and un-ambiguous!

          .span4
            %h3 Managers
            %p
              Help your team signal to you when it is a good time to talk and when they need to be left alone. Create the right time for you and your team.


          .span4
            %h3 Freelancers
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et vestibulum diam. Duis sit amet nunc risus, sollicitudin imperdiet lorem. Phasellus porttito

          .span4
            %h3 Developers
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et vestibulum diam. Duis sit amet nunc risus, sollicitudin imperdiet lorem. Phasellus porttito
 

      .span7.offset1
        %h2
          &ldquo;My Klik already paid for itself on the first day. I get fewer disruptions and can do better work. &ldquo;
        %h3 Alexis Rondeau, NYC
        %br
        %h2
          &ldquo;It's amazing, so simple and effective. My Klik simply tells everyone what I'm up to without me having to explain. It's works just great.&ldquo;
        %h3 JD Stettin, NYC

        %hr
        %h2 
          Features
        %br
        %ul
          %li Easily attach your klik (There is no step 2)
          %li Super simple to change status with a finger flick
          %li Beautifully hand-made from cherry wood
          %li Small but strong neodymium magnet

    %hr
    %br
    %br
    .row
      .span4
        &nbsp;
      .span8
        = render :partial => "pre_orders/form"
      .span4
        &nbsp;


  %br
  %br
  %br