#hero
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

  %h1 
    Make Your 
    = succeed ', ' do 
      %span.orange Work 
      %span.green Flow
  %h1
    Let Your Team 
    <span class="orange">Kl</span><span class="green">ik</span>!
