#hero
  .container
    %br
    = image_tag('klik_white.png')
    %br
    .row 
      .span6
        %h1
          Make Your Work Flow.
        %h2
          A Klik helps you clearly communicate to your team when you are in the zone and when you are available to talk.
      .span8
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
#information
  %br
  %br
  .container
    .row
      .span6
        %h2
          What are Kliks?
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac enim enim, ut ultrices dolor. Duis a tincidunt arcu. Aliquam tincidunt condimentum dui ut egestas. Quisque congue nunc ac neque auctor pharetra. Maecenas a augue risus. Proin quis purus tortor. Nulla nec lacus nec dolor iaculis ultricies quis eget nibh. Vestibulum ac diam turpis, sed fermentum neque. Nulla vel est erat. Vestibulum vitae elit at tellus accumsan imperdiet.

        %h2
          How do Kliks work?
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac enim enim, ut ultrices dolor. Duis a tincidunt arcu. Aliquam tincidunt condimentum dui ut egestas. Quisque congue nunc ac neque auctor pharetra. Maecenas a augue risus. Proin quis purus tortor. Nulla nec lacus nec dolor iaculis ultricies quis eget nibh. Vestibulum ac diam turpis, sed fermentum neque. Nulla vel est erat. Vestibulum vitae elit at tellus accumsan imperdiet.

        %h2
          Where can I use a Klik?
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac enim enim, ut ultrices dolor. Duis a tincidunt arcu. Aliquam tincidunt condimentum dui ut egestas. Quisque congue nunc ac neque auctor pharetra. Maecenas a augue risus. Proin quis purus tortor. Nulla nec lacus nec dolor iaculis ultricies quis eget nibh. Vestibulum ac diam turpis, sed fermentum neque. Nulla vel est erat. Vestibulum vitae elit at tellus accumsan imperdiet.

      .span8.offset2
        #preorder
          %h2 Pre-order your Kliks Today!
          %br
          Your Email 
          %br
          %input.xlarge.full
          %br
          %br

          Quantity
          %br
          %select.xlarge.full
          %br
          %br
          %input{:type => "submit", :class => "btn primary large"}
        %hr
        %h2
          &ldquo;My Klik already paid for itself on the first day. I get fewer disruptions and can do better work. &ldquo;
        %h3 Alexis Rondeau, NYC
        %br
        %h2
          "It's amazing, so simple and effective. My Klik simply tells everyone what I'm up to without me having to explain. It's works just great."
        %h3 JD Stettin, NYC
        %br
        %h2
          "It's a must-have. At this point, I feel naked if I don't have my Klik at work or in a coffeeshop. It just takes away the ambiguity of my state."
        %h3 Aaron States, NYC
        %br
        %h2
          "The Kliks of my team help me understand better when to engage in a conversation and when not. This makes managing a team so much better."
        %h3 Kevin Darcy, NYC
  %br
  %br
  %br