/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require twitter/bootstrap

*/

body {
    background-color: white;	  
}

#top {
    border-top: 10px solid #fcfcfc;

    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    transparent: 50%;
    background-color: white;
}

#content {
    /* background-image: url(/assets/wood_pattern.png); */
}

#new_pre_order, #thank_you {
    border-radius: 10px;
    background-color: white;
    padding: 20px;

    -moz-box-shadow: 0 0 10px 10px #ddd;
    -webkit-box-shadow: 0 0 10px 10px #ddd;
    box-shadow: 0 0 10px 10px #ddd;
}



#footer {
    border-top: 10px solid #FCFCFC;
    padding-top: 10px;
    text-align: center;
    background-color: white;
}

#footer a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
}

#error_explanation {
    border: 2px solid #FE4365;   
    padding: 10px;
    margin-bottom: 20px;
}


.field_with_errors {

}

.modal {
}

.modal img {
    border-radius: 5px;
    width: 100%;
}

.align_center {
    text-align: center;
}