/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require twitter/bootstrap
 *= require_tree . 
*/

body {
	  
}
#header {
    /* 
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    */
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    transparent: 50%;
}

#footer {
    padding-top: 10px;
    text-align: right;
    background-color: white;
}