// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: white;
}

#header {
    background-color: white;
}

#hero {
    background-image: url(/assets/jamie_1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    min-height: 600px;
      h1 {
       font-size: 4.2em;
       letter-spacing: -0.06em;
       color: white;
       line-height: 1em;
	text-shadow: 1px 1px black;
      }	 
      h2 {
	  color: white;
	text-shadow: 1px 1px black;
        font-size: 2.0em;
      }
      .underline {
        border-bottom: 1px solid white;
      }

}

#information {
    background-image: url(/assets/wood_pattern.png);
    background-color: white;
    h2 {
	text-shadow: 1px 1px white;
    }
}

#preorder {
    h2 {
	text-align: center;
    }
    border-radius: 10px;
    background-color: white;
    padding: 20px;

    .full {
	width: 100%;	
    }
}

.orange {
    color: #F26522;
}

.green {
    color: #8DC63F;
}

.white {
    color: white;
}

.align_right {
    text-align: right;
}

#slideshow {
    img {
	border-radius: 10px;
	width: 100%;
    }
}

