// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hero {
      h1 {
       font-size: 4.2em;
       letter-spacing: -0.06em;
      }	 
      text-align: center;
}

.orange {
    color: #F26522;
}

.green {
    color: #8DC63F;
}