Copyright 2012 - Workspice LLC, 902 Broadway, 4th Floor, New York, NY 10010, +1 347 585 6722
|
= mail_to 'getyourkliks@gmail.com', 'Contact' 
|
= link_to 'About', :action => :about, :controller => :welcome
|
= link_to 'Blog', 'http://weklik.tumblr.com'
